# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.scpt

# Generated documents
*.docx
