python-docx==1.0.1
lxml==4.9.3
tk
pywin32==306; platform_system == "Windows"
pyobjc-framework-Cocoa==10.2; platform_system == "Darwin"
pyobjc-framework-CoreServices==10.2; platform_system == "Darwin"
pyobjc-framework-ScriptingBridge==10.2; platform_system == "Darwin"
pypandoc==1.11; platform_system == "Linux"
pyinstaller==6.11.1
setuptools==70.0.0
wheel==0.43.0
