# Core dependencies
python-docx==1.0.1
lxml==4.9.3
tk==0.1.0  # Tkinter GUI support

# Windows-specific dependencies
pywin32==306; platform_system == "Windows"

# macOS-specific dependencies
pyobjc-framework-Cocoa==10.2; platform_system == "Darwin"
pyobjc-framework-CoreServices==10.2; platform_system == "Darwin"
pyobjc-framework-ScriptingBridge==10.2; platform_system == "Darwin"

# Linux-specific dependencies (Oracle Linux 7/8/9, Ubuntu LTS)
pypandoc==1.11; platform_system == "Linux"  # Python interface for Pandoc

# Build and packaging dependencies
pyinstaller==6.11.1
setuptools==70.0.0
wheel==0.43.0
